

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  font-size: 16px;
}

.score {
  margin-top: 30px;
}

/* Bootstrap modifications */

.voffset {
  margin-top: 10px;
}

/*.input-text {
  padding: 5px;
   width: 688px;
  line-height: 1.4;
}

.input-submit {
  padding: 5px;
  width: 50px;
  line-height: 1.4;
}*/