

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  font-size: 16px;
}

.score {
  margin-top: 30px;
}

/* Bootstrap modifications */

.voffset {
  margin-top: 10px;
}

.voffset-2 {
  margin-top: 20px;
}

@media screen and (min-width: 400px) {
  .btn-fluid-block {
    display: inline-block;
    width: 49%;
  }
}

@media screen and (max-width: 399px) {
  .btn-fluid-block {
    display: block;
    width: 100%;
  }

  .btn-fluid-block + .btn-fluid-block {
    margin-top: 5px;
  }
}