

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
/*  font-family: monospace;*/
}

body {
/*  font-family: monospace;*/
/*  font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -.003em;*/
  font-size: 18px;
  line-height: 1.6;
  color: #ebebeb;
  background-color: #212529;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: monospace;
  margin-left: -2px;
}

.h2-room-title {
  margin-top: 25px;
  margin-bottom: 12px;
}

.bonus-table-title {
  margin-top: -3px;
  margin-bottom: 15px;
}

.score {
  display: inline-block;
  margin-bottom: 12px;
  font-family: monospace;
  font-size: 16px;
}
p.score:last-child {
  margin-bottom: 12px;
}
.score-change {
  display: inline-block;
  margin-left: 3px;
  margin-bottom: 12px;
  font-family: monospace;
  font-size: 16px;
  color: transparent;
}
.time-bonus {
  display: inline-block;
  margin-left: 3px;
  font-family: monospace;
  font-size: 16px;
  color: transparent;
}

.score-change-positive {
  animation: color-change-positive 3.3s ease-in-out 1;
}
.score-change-negative {
  animation: color-change-negative 3.3s ease-in-out 1;
}
.score-change-time-bonus {
  animation: color-change-positive 4.3s ease-in-out 1;
  animation-delay: 1.5s;
}

@keyframes color-change-positive {
  0% {
    color: transparent;
  }
  50% {
    color: green;
  }
  100% {
    color: transparent;
  }
}

@keyframes color-change-negative {
  0% {
    color: transparent;
  }
  50% {
    color: orange;
  }
  100% {
    color: transparent;
  }
}

/*.actions-info {
  padding: 8px 8px 1px 8px;
  margin-bottom: 10px;
  font-family: monospace;
  color: #ebebeb;
  font-size: 15px;
  background-color: #4e5d6c;
}*/

.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.text-color-red {
  color: red;
}

.text-color-green {
  color: green;
}

/***************************/
/* Bootstrap modifications */
/***************************/

.voffset {
  margin-top: 7px;
}
.voffset-2 {
  margin-top: 20px;
}

p {
  margin: 0 0 20px;
}
.alert > p, .alert > ul {
  margin-bottom: 20px;
}
p:last-child, ul:last-child {
  margin-bottom: 0;
}

.panel {
  color: #333;
  background-color: #f8f9fa;
  border: none;
  border-radius: 0;
}

.alert {
  border: none;
  border-radius: 0;
}
.alert-info {
  font-family: monospace;
  font-size: 15px;
  color: #f8f9fa;
  background-color: #495057;
  border-color: none;
}

input {
  font-family: monospace;
}

.btn {
  height: 54px;
  font-family: monospace;
  font-size: 15px;
  border-radius: 0;
}
.btn-default {
  color: #f8f9fa;
  background-color: #495057;
  border-color: transparent;
  border-left-color: #2b3e50;
}
.btn-default:focus,
.btn-default.focus {
  color: #f8f9fa;
  background-color: #343a40;
  border-color: rgba(0, 0, 0, 0);
}
.btn-default:hover {
  color: #f8f9fa;
  background-color: #343a40;
  border-color: rgba(0, 0, 0, 0);
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #f8f9fa;
  background-color: #343a40;
  border-color: rgba(0, 0, 0, 0);
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #f8f9fa;
  background-color: #343a40;
  border-color: rgba(0, 0, 0, 0);
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
  background-color: #4e5d6c;
  border-color: transparent;
}
.btn-default .badge {
  color: #4e5d6c;
  background-color: #ffffff;
}

.input-group .form-control:not(:first-child):not(:last-child) {
/*  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;*/
}
.form-control {
  height: 54px;
  padding-left: 10px;
  color: #f8f9fa;
  font-size: 15px;
  background-color: #495057;
  border: 1px solid transparent;
  border-radius: 0;
  /*border-color: #263747;*/
}
.form-control:focus {
  border-color: transparent;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.input-group-addon {
  padding-left: 14px;
  padding-right: 0;
  font-size: 15px;
  font-family: monospace;
  color: #f8f9fa;
  background-color: #495057;
  border: 1px solid transparent;
  border-radius: 0;
}

.table {
  font-size: 16px;
  background-color: #f8f9fa;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f1f3f5;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 12px;
}
.table > thead > tr > th {
  font-family: monospace;
}