<div class="row">
  <div class="col-sm-12">   
    <h1>Gothons of Planet Percal #25</h1>
  </div>
</div>

<div class="row voffset">
  <div class="col-sm-12">
  <div class="panel panel-default">
  <div class="panel-body">   
    <p>
    The Gothons of Planet Percal #25 have invaded your ship and destroyed
    your entire crew. You are the last surviving member and your last
    mission is to get the neutron bomb from the Weapons Armory,
    put it in The Bridge, and blow the ship up after getting into an 
    Escape Pod.
    </p>
  </div>
  </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="alert alert-info">
    <% if name_error? %>
      <p><%= show_name_error %></p>
    <% else %>
      <p>Introduce your name to start playing:</p>
    <% end %>
    </div>
    <form action="/" method="POST" class="form-horizontal">
      <div class="input-group">
        <label class="sr-only" for="input-text">Name</label>
        <div class="input-group-addon">$</div>
        <input type="text" name="action" class="form-control" id="input-text" autofocus="autofocus" autocomplete="off">
        <span class="input-group-btn">
          <label class="sr-only" for="submit">Enter</label>
          <button type="submit" class="btn btn-default" id="submit">
            <span class="unicode-enter-arrow">&#8629;</span>
          </button>
        </span>
      </div>
    </form>
  </div>
</div>