<h1>
  <%= room.name %>
</h1>

<p>
  <%= room.description %>
</p>

<% if does_not_compute? %>
  <p>DOES NOT COMPUTE!</p>
<% end %>

<% if room.name =~ /death/ %>
  <p><%= last_death_line %>
  <p><a href="/">Play Again?</a></p>
<% elsif room.name == "The End" %>
  <p><a href="/">Play Again?</a></p>
<% else %>
  <p>
  <form action="/game" method="POST">
    <input type="text" name="action">
    <input type="submit">
  </form>
  </p>
<% end %>