<div class="row">
  <div class="col-sm-12">    
    <h1 class="h2 h2-room-title">You Died!</h1>
  </div>
</div>

<div class="row voffset">
  <div class="col-sm-12">
    <div class="alert alert-info">    
      <p>Looks like you bit the dust.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <a href="/" class="btn btn-default" role="button">Play Again</a>
    </div>
  </div>
</div>